body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
}

.header .container {
    max-width: 1300px;
}

.header {
    padding: 33px 0;
}

ul {
    list-style: none;
    gap: 42px;
    display: inline-flex;
    align-items: flex-start;
    color: #121212;
    font-size: 16px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__button {
    display: inline-flex;
    text-decoration: none;
    padding: 11px 22px 11px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #121212;
    color: #FFF;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.main {
    margin: 50px auto 156.35px auto;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 156px;
}

.offer__text {
    color: #FCFCFC;
    font-family: 'Manrope';
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    z-index: 10;
}

.hero__left {
    width: 47.62%;
}

.offer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    position: relative;
    height: 271px;
}

.offer__link img:first-child {
    position: absolute;
    z-index: 5;
    top: -50%;
    left: 8.5%;
    pointer-events: none;
}

.offer__link img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offer__link img:nth-child(2):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(134deg, rgba(18, 18, 18, 0.30) 0%, rgba(18, 18, 18, 0.00) 100%);
}

.hero__offer {
    margin-bottom: 45px;
}

.tag__row {
    display: flex;
}

.tag__item {
    color: #0E33F0;
    font-family: 'Plus Jakarta Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    background: rgba(13, 50, 239, 0.10);    
    display: inline-flex;
    padding: 8px 18px;
    align-items: flex-start;
    gap: 8px;
}

.hero__tag {
    margin-bottom: 21px;
}

.title__item {
    color: #121212;
    font-family: 'Manrope';
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title__row {
    display: flex;
    text-align: left;
}

.hero__title {
    margin-bottom: 41px;
}

.content__row {
    display: flex;
    text-align: left;
}

.content__item {
    color: rgba(18, 18, 18, 0.50);
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
}

.hero__content {
    margin-bottom: 65px;
}

.button-with-icons {
    display: flex;
    width: 230px;
    height: 56px;
    padding: 10px 20px 10px 10px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--blue, linear-gradient(135deg, #3857F6 0%, #0B30EF 100%));
    color: #FCFCFC;
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    box-sizing: border-box;
}

.button__circle {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: #230F8A;
    margin-right: 24px;
    box-sizing: border-box;
}

.icon-arrow-down {
    stroke: #FCFCFC;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.hero__right {
    width: 49.207%;
}

.offer__link-2 {
    position: relative;
    border-radius: 24px;
    height: 784px;
    display: flex;
}

.offer__link-2 img:nth-child(2) {
    position: absolute;
    z-index: 5;
    top: 1.2%;
    left: -77.1%;
    pointer-events: none;
}

.offer__link-2 img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
}

.slide {
    display: flex;
    gap: 28px;
    height: 10px;
    position: absolute;
    top: 728px;
    left: 68px;
    right: 68px;
    z-index: 1000;
}

.slide__block {
    width: 100px;
    border-radius: 100px;
    opacity: 0.6000000238418579;
    background: #FFF;
}

.slide__block:hover {
    cursor: pointer;
    opacity: 1;
}

.athlete {
    height: 374px;
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    background: rgba(14, 51, 240, 0.10) url("../images/messages-3.svg");
    background-position: center right;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.athlete__row {
    display: flex;
}

.athlete__left {
    width: 50%;
    position: relative;
}

.athlete__left img:first-child {
    position: absolute;
    top: 0;
    left: 0;
}

.athlete__left img:nth-child(2) {
    position: absolute;
    z-index: 5;
    left: 53.3%;
    top: 66%;
}

.athlete__right {
    width: 50%;
    position: relative;
    z-index: 100;
}

.athlete__title {
    margin-top: 57px;
    margin-bottom: 10px;
}

.undertitle__item {
    color: rgba(18, 18, 18, 0.50);
    font-family: 'Manrope';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.undertitle__row {
    display: flex;
    text-align: left;
    margin-bottom: 27px;
}

.content__item__athlete {
    color: rgba(18, 18, 18, 0.70);
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
}

.places {
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    background: #EFEFEF url("../images/location.svg");
    background-position: left 76px;
    background-repeat: no-repeat;
    height: 675px;
}

.places__left {
    width: 49%;
}

.places__row {
    display: flex;
}

.places__title {
    margin-top: 118px;
    margin-bottom: 39px;
}

.places__content {
    color: rgba(18, 18, 18, 0.50);
    margin-bottom: 85px;
}

.form__input {
    width: 191px;
    display: inline-flex;
    padding: 16.639px 26px 15.361px 26px;
    align-items: center;
    border-radius: 100px;
    background: #FFF;
    border: none;
    color: #999B9D;
    font-family: 'Manrope';
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__icon {
    margin: auto 7.1px auto 7.1px;
    width: 24px;
    height: 24px;
    stroke: rgba(87, 86, 207, 1);
    flex-shrink: 0;
}

.form {
    display: inline-flex;
    align-items: center;
}

.form__button {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-image: url("../images/Лупа.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    outline: 0;
    margin-left: 20px;
    flex-shrink: 0;
}

.form__input::placeholder {
    color: #999B9D;
}

.places__right {
    width: 51%;
    padding-top: 70px;
    padding-bottom: 70px;
    box-sizing: border-box;
    position: relative;
}

.places__right img {
    height: 535px;
}